# Samas RewriteRule

allow from all

<Files ~ "^\.(htaccess)$">
deny from all
</Files>

<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On
    RewriteBase /

    ErrorDocument 403 /index.php
    ErrorDocument 404 /index.php
    ErrorDocument 301 /index.php

    # RedirectMatch permanent ^/_action/.*$ /index.php
    RedirectMatch permanent ^/_class/.*$ /index.php
    RedirectMatch permanent ^/_config/.*$ /index.php
    RedirectMatch permanent ^/_component/.*$ /index.php
    RedirectMatch permanent ^/_layout/.*$ /index.php
    RedirectMatch permanent ^/_view/.*$ /index.php

    RewriteCond %{REQUEST_FILENAME} !-f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^tool/(.*) /tool/php-test.php [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^action/(.*) /_action/index.php/$1 [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /test.php [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [QSA,NC,L]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>